body {
    font-family: 'Arial', sans-serif;
    display: flex;
    margin: 0;
    height: 100vh;
    background: #f4f4f9;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    margin: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 15px 10px;
    text-align: center;
    transition: background 0.3s, transform 0.3s;
    border-bottom: 1px solid #444; /* Add border bottom to each list item */
}

.sidebar ul li:last-child {
    border-bottom: none; /* Remove border bottom from the last list item */
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-weight: 600;
}

.sidebar ul li:hover {
    background-color: #575757;
    transform: translateX(5px);
}

.sidebar ul li a:hover {
    color: #ffeb3b; /* Change link color on hover */
}

.content {
    flex-grow: 1;
    padding: 20px;
    background: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    margin: 20px;
    border-radius: 8px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        box-shadow: none;
        margin: 0 0 20px 0;
    }

    .sidebar ul li {
        text-align: left;
        padding-left: 20px;
    }

    .content {
        padding: 10px;
        margin: 0 10px 20px 10px;
    }

    iframe {
        height: calc(100vh - 240px);
    }
}
.Title {
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Font size */
    font-weight: bold; /* Font weight */
    padding: 10px; /* Padding */
    display: block; /* Make it a block element */
    background-color: #333; /* Background color */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition on hover */
}

.Title:hover {
    background-color: #575757; /* Change background color on hover */
}
